html, body {
    margin:0px;
  }
  
.content {
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: #e2e8f1;
    grid-template-columns: minmax(200px, 2fr) 8fr minmax(300px,1fr);
    grid-template-rows: 150px 5fr;
    grid-template-areas: 
    "d h h"
    "d p c";
}

.dash {
    grid-area: d;
    background-color: #1992d4;
    display: grid;
    color: #FFFFFF;
}

.comments {
    grid-area: c;
    background-color: aqua;
}

.head{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-area: h;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 2px rgb(199, 198, 198);
}

.projects {
    display: grid;
    grid-area: p;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    margin: 20px;
}

.cell {
    border: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(251, 0, 255);
    height: auto;
    width: auto;
    border-radius: 25px;
}

#bike {
    width: 30%;
    filter: invert(88%) sepia(89%) saturate(1%) hue-rotate(265deg) brightness(111%) contrast(97%);
}

.bt1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5px;
}